/* At rules */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    50% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes shakeX {
    0% {
        transform: translateX(-0.5rem) rotate(2deg);
    }
    50% {
        transform: translateX(0.5rem) rotate(-2deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}
